<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389850926393-kmagn9p5rva0np79nh186pb30e0atugn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389850926393-kmagn9p5rva0np79nh186pb30e0atugn</string>
	<key>API_KEY</key>
	<string>AIzaSyCqctheP_fPDy80yOOYtXgMON5R1Y7ENAM</string>
	<key>GCM_SENDER_ID</key>
	<string>389850926393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Samuel.Firebase</string>
	<key>PROJECT_ID</key>
	<string>store-89da6</string>
	<key>STORAGE_BUCKET</key>
	<string>store-89da6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:389850926393:ios:0968e38e2ce84bf0</string>
	<key>DATABASE_URL</key>
	<string>https://store-89da6.firebaseio.com</string>
</dict>
</plist>
